<section style="background-color: white">

	<h3 id="about-me">ABOUT MYSELF</h3>

	<div class="face-lockup">

		<div class="face-img"></div>

		<div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
		<div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
		<div class="icon-browser">{% include icons/icon-browser.html %}</div>
		<div class="icon-video">{% include icons/icon-video.html %}</div>

	</div>

	<div class="blurb">
	<p><strong>Rajat specializes in making things </strong> more creative and <a href="#">things never seen before</a>. Most of the things he made are <a href="#">digital designs</a>, but he also puts efforts into <a href="#">dancing</a> and <a href="#">crafting</a>. He is a computer engineering student and a programmer.</p>
	</div>

	<div class="skills-lockup">
		<div class="skill-unit">
			<div class="skill-label">Communication</div>
			<div class="skill-icons skill-7">
				<span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span>
				<span></span><span></span>
			</div>
		</div>

		<div class="skill-unit">
			<div class="skill-label">Management</div>
			<div class="skill-icons skill-9">
				<span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span>
				<span></span><span></span>
			</div>
		</div>

		<div class="skill-unit">
			<div class="skill-label">Learning</div>
			<div class="skill-icons skill-9">
				<span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span>
				<span></span><span></span>
			</div>
		</div>

		<div class="skill-unit">
			<div class="skill-label">Teaching</div>
			<div class="skill-icons skill-7">
				<span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span>
				<span></span><span></span>
			</div>
		</div>

		<div class="skill-unit">
			<div class="skill-label">Planning</div>
			<div class="skill-icons skill-8">
				<span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span>
				<span></span><span></span>
			</div>
		</div>

		<div class="skill-unit">
			<div class="skill-label">Designing</div>
			<div class="skill-icons skill-6">
				<span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span>
				<span></span><span></span>
			</div>
		</div>

		<div class="skill-unit">
			<div class="skill-label">Gaming</div>
			<div class="skill-icons skill-8">
				<span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span>
				<span></span><span></span>
			</div>
		</div>

		<div class="skill-unit">
			<div class="skill-label">Programming</div>
			<div class="skill-icons skill-4">
				<span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span>
				<span></span><span></span>
			</div>
		</div>
	</div>

</section>